@import "colors";
@import "mixins";
@import "menu";


#container{
  text-align: center;
  margin: 0 10vw;

  h1{
    color: $header;
    font-size: 2em;
    margin: 20px 0;
  }
  p{
    font-size: 1.3em;
    margin: 20px 0;
  }

  #sliders{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

    .slider-cont{
      display: flex;
      justify-content: space-between;
      width: 30vw;
      flex-wrap: wrap;
      margin: 20px;
      background: lighten($background, 1);
      padding: 0 20px;
      box-shadow: 0px 0px 20px rgba($header, 0.1);

      @include respond-to(mobile){
        width: 100%;
      }

      h3{
        text-align: left;
        display: inline-block;
        color: $header;
        font-size: 1.5em;
        margin: 20px 0;
        width: 140px;
        margin-right: 10px;
      }
      .slider{
        // margin: 0 10px;
      }
      p{
        margin-left: 10px;
        font-size: 1.3em;
        width: 50px;
      }
    }
  }

}
